<div class="serach_navimain clearfix">
<style type="text/css">

td.w100 { width: 100px; }

</style>

<%= form_for(@shop) do |f| %>

<% if @shop.errors.any? %>
<div id="error_explanation">
  <h2><%= @shop.errors.count %>件のエラーがあります。</h2>
  <p><span style="color:#ff0000;">下記に従って再度、ご記入をお願いします。</span></p>
  <ul>
    <% @shop.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-main clearfix">
  <div class="sub-box">チケット情報</div>
  <table>
    <tr>
      <th><%= f.label :airt_name,"アーティスト名" %></th>
      <td><%= f.text_field :airt_name, id: "airt_name",class: "price-text" , placeholder: "アーティスト名を登録する" ,autocomplete: "off"%>
      </td>
    </tr>
    <tr>
      <th> <%= f.label :live_tour_name, "公演名" %></th>
      <td>
	<!-- 入力フォーム -->
	<%= f.text_field :live_tour_name, class: "price-text" , placeholder: "公演名を登録する" ,autocomplete: "off"%>
      </td>
    </tr>
    <tr>
      <th> <%= f.label :day_date, "公演日"%><br></th>
      <td> <%= f.text_field :day_date, class: "price-textday" ,:id => 'datepicker' , placeholder: "日にち選択  ここをクリックして下さい"%>
      </td>
    </tr>
    <tr>
      <th> <%= f.label :day_date, "公演時間"%><br></th>
      <td> <%= f.text_field :time_date, placeholder: "開始時刻"%></td>
    </tr>
    <tr>
      <th><%= f.label :plase ,"会場（場所）" %></th>
      <td> <%= f.text_field :plase,size: 60 %></td>
    </tr>
  </table>


  <div class="sub-box">出品情報</div>
  <table>
    <tr>
      <th class="w100"> <%= f.label :close_datetime, "締め切り" %> </th>
      <td>
	<%= f.text_field :close_datetime,placeholder: "月日",
	    class: "datetimepicker" %>
      </td>
    </tr>
    <tr>
      <th class="w100"> <%= f.label :price, "出品価格" %> </th>
      <td>
	<%= f.text_field :price, class: "price-text" ,placeholder: "商品販売価格を記入してください", data: { autonumeric: { aSign: '¥ ', mDec: 0 } }%>円
      </td>
    </tr>
    <tr>
      <th> <%= f.label :number_of_sheets, "チケット枚数" %> </th>
      <td> 
	<%= f.text_field :number_of_sheets, id: "sizeform", class: "price-text" %>
      </td>
    </tr>
    <tr>
      <th> <%= f.label :seat, "席の種類" %> </th>
      <td> 
	<%= f.text_field :seat,  class: "price-text" , placeholder: "席の種類を入力　例：S席"%>
      </td>
    </tr>
    <tr>
      <th>  <%= f.label :seat_in_detail , "席の詳細内容" %> </th>
      <td> <%= f.text_area :seat_in_detail ,cols: 10 %> </td>
    </tr>
    <tr>
      <th> <%= f.label :shipping_method, "発送方法" %> </th>
      <td> 
	<div class="text-menu-serach">
	  <ul>
	    <li><%= f.radio_button :shipping_method, :post %><div class="absolute">郵送</div><small><p>追跡可能な方法のみ可</p></small></li>
	    <li><%= f.radio_button :shipping_method, :hand_sent %><div class="absolute">手渡し</div><small><p>受渡し方法の記入をお願いします</p></small></li>
	  </ul>
	</div>
      </td>
    </tr>
    <tr>
      <th> <%= f.label :postage, "送料" %> </th>
      <td> 
	<div class="text-menu-serach">
	  <ul>
	    <li><%= f.radio_button :postage, :postage_in %><div class="absolute">送料込みorなし</div><small><p>自己負担・手渡し</p></small></li>
	    <li><%= f.radio_button :postage, :postage_out %><div class="absolute">送料別（¥910）</div><small><p>相手負担</p></small></li>
	  </ul>
	  <p>&emsp;&emsp;送料は一律910円のご負担です。</p>
	  <p>&emsp;&emsp;手渡しの方は「なし」になります。</p>
	</div>
      </td>
    </tr>
  </table>


  <div class="sub-box">商品情報</div>

  <div class="text-main">
    <div class="field">
      <%= f.label :nsk, "購入元" %><br>
    </div>
    <div class="text-menu">
      <br />
      <ul>
	<li><%= f.radio_button :nsk, :seiki %><div class="absolute">正規店・直営店</div><small><p>デパート・旗艦店・ECサイト含む</p></small></li>
	<li><%= f.radio_button :nsk, :c2c %><div class="absolute">中古品</div><small><p>フリマサイト・質屋などの2次流通品</p></small></li>
	<li><%= f.radio_button :nsk, :present %><div class="absolute">贈与・懸賞</div><small><p>友人・知人からのプレゼントや賞品</p></small></li>
	<li><%= f.radio_button :nsk, :other %><div class="absolute">その他・不明</div><small><p>出処不明。詳細に記入</p></small></li>
      </ul>
    </div>
  </div>
  <br />
  <div class="chexbox">
    <div class="text-main">
      <div class="field">
	<%= f.label :price, "画像" %><br>
      </div>
      <br />
      <% if @shop.image? %>
      <div class="thumbnail">
        <%= image_tag @shop.image.url %>
      </div>
      <% end %>
      <p>&emsp;<%= f.label :出品予定の商品画像（任意） %>・<span style="color:#ff0000;">著作権のある写真の無断使用は厳禁です。</span></p>
      &emsp;
      <%= f.fields_for :images do |image| %>
	 <%= image.file_field :image %>
	 <% end %>
      <% if @shop.persisted? && @shop.image? %>
      <label>
        <p>&emsp;<%= f.check_box :remove_image ,:class => "absolute-chex"%>&emsp;&emsp;削除する</p>
      </label>
      <% end %>
      
    </div>
  </div>
  <br />



  <div class="sub-box">その他事項</div>

  <div class="text-main">
    <div class="field">
      <%= f.label :docide_promptly, "商品の発送予定時期" %><br>
    </div>
    <div class="text-menu">
      <br />
      <ul>
	<li><%= f.radio_button :docide_promptly, :within_24_hours %><div class="absolute">24時間以内</div><small><p>即発送・受渡しをお願いします</p></small></li>
	<li><%= f.radio_button :docide_promptly, :within_3day %><div class="absolute">2〜3日以内</div><small><p>購入者側と相談</p></small></li>
	<li><%= f.radio_button :docide_promptly, :within_7day %><div class="absolute">4〜7日以内</div><small><p>購入者側と相談</p></small></li>
	<li><%= f.radio_button :docide_promptly, :other_day %><div class="absolute">相談・未定</div><small><p>商品詳細にて記入をお願いします</p></small></li>
      </ul>
    </div>
  </div>
  <br />
  <br />

  <div class="actions">
    <%= f.submit "出品する",:class => "submit-button" , data: {
    confirm: '登録した内容で本当に出品してもよいですか？万が一間違えて出品した場合も、他のユーザーから購入される前でしたら、出品内容は削除、変更可能です。',
    disable_with: '出品中です..。。'} %>
  </div>

  <% end %>

</div>
  </div>