<% content_for :title do %>
検索条件の商品一覧 |ブランド品の売買ならオトクーナにお任せ!!
<% end %>
<br />

<br />
<div class="indexpage">
  <div class="box100">
    <h2><strong>☆★検索条件の商品一覧★☆</strong>️</h2>
  </div>
  <div class="airt-commntbox-top"></div>
  <div class="airt-commntbox">
      <%= render partial: "airt_commntbox" %>
  </div>
  <div class="airt-commntbox-under"></div>
  <div class="index-box">
      <%= search_form_for @search do |f| %>
      <div class="sortbox">
	<ul>
	  <li><%= sort_link(@search, :created_at, '新着順') %></li>
	  <li><%= sort_link(@search, :price, '価格順') %></li>
	  <li><%= sort_link(@search, :day_date, '日時順') %></li>
	</ul>
      </div>
      <div class="seach_day_date">
	<%= f.label :day_date, '公演日指定' %>
        <%= f.text_field :day_date_gteq, include_blank: true, :readonly=> true ,class: "day_date-text" ,:id => 'datepicker_second' , placeholder: "ここをクリック"%>〜
        <%= f.text_field :day_date_lteq, include_blank: true, :readonly=> true ,class: "day_date-text" ,:id => 'datepicker_three' , placeholder: "ここをクリック"%>
	<%= f.submit '検索',:class => "submit-button-search" %>
      </div>
      <br />
      <% end %>
    <table>
      <thead>
	<tr>
	  <th class="tablebox1105-left">公演名</th>
	  <th class="tablebox5100">日時</th>
	  <th class="tablebox1105">場所</th>
	  <th class="tableboxticket">チケット情報</th>
	  <th class="tablebox1111">価格</th>
	  <th class="tablebox1100">詳細</th>
	  <th colspan="3"></th>
	</tr>
      </thead>
      <tbody>
	<% @shops.each do |shop| %>
	<tr>
          <td class="tablebox5011">
	    <small><%= shop.airt_name.truncate(18) %>
	      <p><span style="color:#0000CC;"><%= shop.live_tour_name.truncate(24) %></span></p>
	    </small>
	  </td>
	  <td class="tablebox5100under">
	    <small><%= shop.day_date %>&emsp;&emsp;&emsp;
	      <%= shop.time_date_hm %>〜</small>
	  </td>
	  <td class="tablebox5011">
	    <small><span style="color:#0000CC;">
		<%= shop.plase.truncate(41) %>
	    </span></small>
	  </td>
	  <td class="tableboxticketunder">
	    <small>[<span style="color:#ff0000;">送料</span>]&nbsp;<%= shop.postage_i18n %>
	      &emsp;[<span style="color:#ff0000;">名義</span>]&nbsp;<%= shop.ticket_name %>
	      &emsp;[<span style="color:#ff0000;">席種</span>]&nbsp;<%= shop.seat %></small>
	    <p><small>[<span style="color:#ff0000;">発送方法</span>]
		&nbsp;<%= shop.shipping_method_i18n %>
		&emsp;[<span style="color:#ff0000;">発送予定時期
		</span>]&nbsp;<%= shop.docide_promptly_i18n %>
	      </small>
	    </p>
	    <p><small>[<span style="color:#ff0000;">売手側からのチケット情報</span>]</small></p>
	    <p><small><%= shop.seat_in_detail.truncate(30) %></small></p>
	  </td>
	  <td class="tablebox6000">
	    <small>
	      <%= shop.number_of_sheets %>枚 <%= shop.list_price_i18n %>
	      <p>
		<span style="color:#ff0000;"><%= number_with_delimiter(shop.price) %></span>円/枚
	      </p>
	      <p>締め切り <%= shop.close_datetime %>
		(<%= shop.rest_time_code %>)</p>
	    </small>
	  </td>
	  <td class="tablebox5000">
	    <div id="favorite-mark"><%= render 'favorite_mark', shop: shop %></div>
	    <% # TODO : (仮)styleによる中央寄せ %>
	    <div id="favorite-count" style="text-align: center;">
	      <%= render 'favorites/favorite_count', shop: shop, favorites: shop.favorites %>
	    </div>
	    <div class="btn2"><%= link_to '詳細', shop %></div>
	  </td>
	</tr>
	<% end %>
      </tbody>
    </table>
    <br />
    <div class="favorite_unmark"></div>
    <%= paginate @shops  %>
      <br>
       <div class="bulebox">
       <% if user_signed_in? %>
          <h4 class="bulebox">&nbsp;<%= link_to '　商品の出品へ', new_shop_path, :target=>["_blank"], :class=>"black-btn" %></h4>
          <% else %><h4 class="bulebox-sec">&emsp;<%= link_to '新規会員登録へ', new_user_registration_path %></h4>
          <% end %>
       </div>
     </div>
</div>
