
<br />
<% content_for :title do %>
<%= @shop.airt_name %>商品詳細ページ
<% end %>
<br />
<div class="serach_navimain-show clearfix">
<div class="mainSect clearfix">
    <!-- /*写真エリア -->
    <div id="detailPhotoArea">
      <div class="dtlPhoto pc">
  <div class="photoZoom">
    <div class="zoomImg">
                               <% unless @shop.images.empty? %>
       <img style="" id="img_01" src="<%= @shop.images.first.image.url(:thumb) %>" data-zoom-image="<%= @shop.images.first.image.url %>"
       width="374" height= "306"  />
      <div id="gal1" style="width: 400px float:left; ">

        <% if @shop.images.size > 1 %>
        <% @shop.images.each do |image| %>
        <a href="#" class="elevatezoom-gallery" data-update="" data-image="<%= image.image.url(:thumb) %>" 
      data-zoom-image="<%= image.image.url %>">
          <img id="img_01" src="<%= image.image.url(:thumb) %>" width="60" height= "70" /></a>
                  <% end %>
                  <% end %>
      </div>
                  <% end %>
    </div>
    <br />
    <p><span class="icnLoupe">&emsp;&emsp;</span>マウスを合わせると画像を拡大できます</p>
  </div>
 </div>
</div>
    <!-- 写真エリア*/ -->

    <!-- /*テキストエリア -->
    <div id="detailTxtArea">
<div class="dtlSumArea">
  <h1>
    <div class="dtlTit"><%= @shop.airt_name %></div>
    <div class="dtlSubTit"><%= @shop.item_name %></div>
  </h1>

  <div class="dtlSpecBox">
    <div class="dtlSpecRack">
      <table class="dtlSpec01">
        <tr>
          <th>SIZE</th>
          <th>CONDITION</th>
        </tr>
        <tr>
          <td><span class="sizeNum"><%= @shop.madein %>製&emsp;ー</span></td>
          <td><span class="rankNum"><%= @shop.state %></span></td>
        </tr>
      </table>
    </div>
    <div class="dtlSpecRack">
      <table class="dtlSpec02">
      <tbody>
        <tr>
          <th>PRICE</th>
        </tr>
        <tr>
          <td>
            <div>
              <span class="priceNum"><span><small><strong>￥</strong></small></span><span class="priceAmount"><strong><%= number_with_delimiter(@shop.price) %></strong></span></span>&emsp;&emsp;

              <div style="display:inline-block;"><span class="priceOtokuna">
                <strong><%= @selldisbuy %></strong></span>
                        <br>
                        <span class="priceOther">参考価格：<span class="strike">￥<%= number_with_delimiter(@shop.ref_price) %></span></span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>


      </table>
    </div>
  </div>
</div>
  </div>
  <br />

<h1><%= link_to '購入', users_path ,:class=>"button-buybuy-first",:style=>'color:#FFFFFF;' %></h1>
               <div class="contlike"><span id="favorite-mark"><%= render 'favorite_mark', shop: @shop %></span>
                 <span id="favorite-count"><%= render 'favorites/favorite_count', shop: @shop, favorites: @shop.favorites %></span>
               </div>

<div class="dtlInfoArea">
    <h2>商品情報</h2>
  <div class="dtlInfoTable">
    <h3>サイズ</h3>
  <table>
      <tr>
        <th>生産国(MADE IN)<br />
        長さ(size)</th>
        <td>基準サイズ&emsp;<%= @shop.madein %>製<br />
        <%= @shop.size %></td>
      </tr>
<div id="contents">
   <div id="modal">
     <div id="open01">
       <a href="#" class="close_overlay">×</a>
         <div class="modal_window">
            <h2>サイズ表(ウィメンズ)</h2>
            <p>アパレルアイテムのサイズは、日本と海外で異なる場合がございます。素材の性質やブランドによっても<br />誤差がありますので、目安としてご参照ください。<br /><br />
              <strong>レディースシューズ</strong></p></p>
              <%= image_tag("hatena1.png", :size => "700x400") %>
              <br />
              <br />
<a href="#" class="black-btn">【×】CLOSE</a>
</div><!--/.modal_window-->
</div><!--/#open01-->

<div id="open02">
       <a href="#" class="close_overlay">×</a>
         <div class="modal_window">
            <h2>サイズ表(ウィメンズ)</h2>
            <p>アパレルアイテムのサイズは、日本と海外で異なる場合がございます。素材の性質やブランドによっても<br />誤差がありますので、目安としてご参照ください。<br /><br />
              <strong>トップス・ボトムス</strong></p></p>
              <%= image_tag("hatena2.png", :size => "700x400") %>
              <br />
              <br />
<a href="#" class="black-btn">【×】CLOSE</a>
</div><!--/.modal_window-->
</div><!--/#open02-->

<div id="open03">
       <a href="#" class="close_overlay">×</a>
         <div class="modal_window">
            <h2>サイズ表(メンズ)</h2>
            <p>アパレルアイテムのサイズは、日本と海外で異なる場合がございます。素材の性質やブランドによっても<br />誤差がありますので、目安としてご参照ください。<br /><br />
              <strong>メンズシューズ</strong></p></p>
              <%= image_tag("hatena3.png", :size => "700x400") %>
              <br />
              <br />
<a href="#" class="black-btn">【×】CLOSE</a>
</div><!--/.modal_window-->
</div><!--/#open03-->

<div id="open04">
       <a href="#" class="close_overlay">×</a>
         <div class="modal_window">
            <h2>サイズ表(メンズ)</h2>
            <p>アパレルアイテムのサイズは、日本と海外で異なる場合がございます。素材の性質やブランドによっても<br />誤差がありますので、目安としてご参照ください。<br /><br />
              <strong>トップス・ボトムス</strong></p></p>
              <%= image_tag("hatena4.png", :size => "700x400") %>
              <br />
              <br />
<a href="#" class="black-btn">【×】CLOSE</a>
</div><!--/.modal_window-->
</div><!--/#open04-->

<div id="open05">
       <a href="#" class="close_overlay">×</a>
         <div class="modal_window">
            <h2>サイズ表(メンズ)</h2>
            <p>アパレルアイテムのサイズは、日本と海外で異なる場合がございます。素材の性質やブランドによっても<br />誤差がありますので、目安としてご参照ください。<br /><br />
              <strong>シャツ</strong></p></p>
              <%= image_tag("hatena5.png", :size => "700x400") %>
              <br />
              <br />
<a href="#" class="black-btn">【×】CLOSE</a>
</div><!--/.modal_window-->
</div><!--/#open05-->


<div id="open06">
       <a href="#" class="close_overlay">×</a>
         <div class="modal_window">
            <h2>商品の状態(ランク)</h2>
            <p>オトクーナでは、コンディションに合わせて、「N」「NS」「S」「A」「B」「C」の6段階に選別しております。<br /><br />
            <div align="left">
            <strong>&emsp;&emsp;コンディション</strong><br /></p>
&emsp;&emsp;N：新品商品<br />
&emsp;&emsp;NS使用はしてないが、新品基準を満たしていない商品<br />
&emsp;&emsp;S：新品同様の使用感がまったく感じられない極上中古品<br />
&emsp;&emsp;A：若干の使用感はあるが、非常に状態の良い中古品<br />
&emsp;&emsp;B：適度な使用感がある一般的な中古品<br />
&emsp;&emsp;C：使用感が目立つ中古品<br />
&emsp;&emsp;※ランクはアイテム本体についてのものであり、付属品等に関してはこの限りではありません。<br />
&emsp;&emsp;※ランクは売り手側による判断のものになりますので、コンディションがご心配な場合はご購入前に質問してください。<br />
&emsp;&emsp;※ランク違い等のクレームによる返品・交換等は一切受け付けておりません。<br />
&emsp;&emsp;※コンデションの詳細（ダメージ等）は記載情報が全てではありません。記載情報以外にもダメージ等がございますが予めご了承ください。<br />
              <br />
              <br />
            </div>
<a href="#" class="black-btn">【×】CLOSE</a>
</div><!--/.modal_window-->
</div><!--/#open06-->

<div id="open07">
       <a href="#" class="close_overlay">×</a>
         <div class="modal_window">
            <h2>有効な正規品判別書類</h2>
            <p>オトクーナでは高額な商品に対して、商品に正規品判別書類を同封することを義務づけてます。<br />参考書類としてご参照ください。<br /><br />
            <div align="left">
              <strong>&emsp;&emsp;有効な正規品判別書類</strong></p>
              &emsp;&emsp;・各種鑑定書類<br />
              &emsp;&emsp;・各種鑑別書類(ダイヤモンド・真珠など)<br />
              &emsp;&emsp;・購入したブランド品店舗でのレシート・領収書<br />
              &emsp;&emsp;・直営店などで修復した際のレシート・領収書<br />
              &emsp;&emsp;・その他、判別を確認できるものなど
              <br /><br />
              &emsp;&emsp;高額商品の正規品鑑定書類が無い商品の購入にはお気を付けください。
              <br />
              <br />
            </div>
<a href="#" class="black-btn">【×】CLOSE</a>
</div><!--/.modal_window-->
</div><!--/#open07-->

      <tr>
      <th><span style="color: #bc2414;">参考サイズ表</span><br />
      (WOMEN)</th>
      <td><a href="#open01" class="black-btn">シューズ<%= image_tag("hatena.png", :size => "14x14", :class=>"hatena") %></a><br />
        <a href="#open02" class="black-btn">トップス・ボトムス<%= image_tag("hatena.png", :size => "14x14", :class=>"hatena") %></a></td>
      </tr>
      <tr>
      <th><span style="color: #bc2414;">参考サイズ表</span><br />
      (MEN)</th>
      <td><a href="#open03" class="black-btn">シューズ<%= image_tag("hatena.png", :size => "14x14", :class=>"hatena") %></a><br />
        <a href="#open04" class="black-btn">トップス・ボトムス<%= image_tag("hatena.png", :size => "14x14", :class=>"hatena") %></a>&emsp;&emsp;
        <a href="#open05" class="black-btn">シャツ<%= image_tag("hatena.png", :size => "14x14", :class=>"hatena") %></a></td>
      </tr>
  </table>
  </div>
  <div class="dtlInfoTable">
    <h3>コンディション</h3>
    <table>
      <tr>
        <th>状態</th>
        <td class="condition">
          <div class="condition_label">
              <a href="#open06" class="black-btn"><%= @shop.state %>&nbsp;<%= image_tag("hatena.png", :size => "14x14", :class=>"hatena") %></a>
          </div>
        </td>
      </tr>
      <tr>
        <th>状態の詳細情報</th>
        <td><%= @shop.state_info %></td>
      </tr>
    </table>
    </div>
    <div class="dtlInfoTable">
    <h3>商品詳細</h3>
  <table>
      <tr>
        <th>カラー・デザイン</th>
        <td><%= @shop.color %></td>
      </tr>
      <tr>
        <th>素材</th>
        <td><%= @shop.material %></td>
      </tr>
      <tr>
        <th>付属品の有無</th>
        <td><%= @shop.accessories_i18n %></td>
      </tr>
      <tr>
        <th>付属品の詳細</th>
        <td><%= @shop.accessories_info %></td>
      </tr>
      <tr>
        <th>購入元</th>
        <td><%= @shop.nsk_i18n %></td>
      </tr>
      <tr>
        <th>正規品判別書類の有無</th>
        <td><%= @shop.certificate_i18n %>&emsp;&emsp;<a href="#open07" class="black-btn">有効な判別書類<%= image_tag("hatena.png", :size => "14x14", :class=>"hatena") %></a></td>
      </tr>
      <tr>
        <th>型番</th>
        <td><%= @shop.number %></td>
      </tr>
      <tr>
        <th>商品ID(番号)</th>
        <td><%= @shop.id %></td>
      </tr>
      <tr>
        <th>その他の情報</th>
        <td><%= @shop.comment_text %></td>
      </tr>
  </table>
  </div>
 <% if current_user %>
<div class="dtlInfoTable">
    <h3>質問・コメント内容</h3>
  <table>
  　　<tr>
        <th>注意事項</th>
        <td>相手の事を考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や、退会処分となる場合があります。</td>
      </tr>
      <tr>
        <th>質問<br />コメント</th>
        <td>
         <% if current_user %>
           <%= form_tag("/shops/#{@shop.id}/questions", method: :post) do %>
             <textarea cols="30" name="text" placeholder="コメントする" rows="2" class="textarea-question"></textarea>
        </td>
      </tr>
  
      <tr>
        <th>送信へ</th>
        <td><input type="submit" value="質問する" class="submit-button">
          <% end %>
          <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>コメント<br />一覧</th>
        <td>
         <% if current_user %>
             <% if @questions %>
              <% @questions.each do |question| %>
               <p><strong><%= question.user.nickname %>：</strong><%= question.text %></p>
               <time><%= time_ago_in_words question.created_at %></time>
               <% end %>
             <% end %>
         <% end %>
        </td>
      </tr>
  </table>
  </div>
  </div>
  </div>
    <!-- テキストエリア*/ -->

<div class="dtlInfoArea-user ">
    <h2>出品者情報</h2>
    <div class="dtlInfoTable-user">
    <h3>詳細</h3>
  <table>
  　　<tr>
        <th>締め切り時間</th>
        <td><%= @shop.close_datetime %>(残り<%= @shop.rest_time_code %>)</td>
      </tr>
      <tr>
        <th>名前(あだ名)</th>
        <td><%= @shop.user.nickname %></td>
      </tr>
      <tr>
        <th>地域</th>
        <td><%= @shop.user.big_address %><%= @shop.user.subaddress %></td>
      </tr>
      <tr>
        <th>ID(番号)</th>
        <td><%= @shop.user.id %></td>
      </tr>
      <tr>
        <th>出品者の<br />プロフィール</th>
        <td><%= @shop.user.user_text %></td>
      </tr>
  </table>
  </div>
  <div class="dtlInfoTable-user">
    <h3><strong><span style="color: #bc2414;">決済情報</span></strong></h3>
  <table>
  　　<tr>
        <th>取引手数料</th>
        <td>
              11,999円以下の場合は一律&nbsp;<span style="color:red;">600円</span><small>(税込)</small><br />
              12,000〜19,999円以下の場合は一律&nbsp;<span style="color:red;">800円</span><small>(税込)</small><br />
              20,000〜29,999円以上の場合は一律&nbsp;<span style="color:red;">1,000円</span><small>(税込)</small><br />
              30,000〜100,000円以上の場合は一律&nbsp;<span style="color:red;">3%</span><small>(税込)</small><br />
              100,001円以上の場合は一律&nbsp;<span style="color:red;">2.8%</span><small>(税込)</small>
        </td>
      </tr>
      <tr>
        <th>決済事務手数料</th>
        <td>一律&nbsp;<span style="color:red;">300円</span><small>(税込)</small></td>
      </tr>
      <tr>
        <th>請求内約</th>
        <td>商品代金&emsp;&emsp;&emsp;&emsp;<small>+</small>&nbsp;<strong><%= number_with_delimiter(@getprice) %></strong><small>円</small><br />
              取引手数料&emsp;&emsp;&emsp;<small>+</small>&nbsp;<strong><%= number_with_delimiter( @otherprice.round) %></strong><small>円</small><br />
              決済事務手数料&emsp;<small>+</small>&nbsp;<strong><%= number_with_delimiter( @taxprice.round) %></strong><small>円</small><br />
              送料&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<small>+</small>&nbsp;<strong><%= @postageon %></strong><small>円</small>&emsp;&emsp;&emsp;<small><span style="color:red;">*小数点第1位四捨五入</span></small>
        </td>
      </tr>
      <tr>
        <th>お支払い代金総額</th>
        <td><strong><%= number_with_delimiter( @buyprice_sent.round) %>円</strong>&emsp;<small><span style="color:red;">&nbsp;＊お支払い代金総額に加算済</span></small></td>
      </tr>
  </table>
  </div>
  </div>
       <h1><%= link_to '購入', users_path ,:class=>"button-buybuy",:style=>'color:#FFFFFF;' %></h1>
 </div>
</div>

</div><!--/#modal-->
</div><!--/#contents-->

<script type="text/javascript">
  $(document).ready(function () {
     $("#select").change(function(e){
   var currentValue = $("#select").val();
	// Using default configuration
 
 
 	 var ez =   $('#img_01').data('elevateZoom');	  
   
	ez.swaptheimage(smallImage, largeImage); 
     
    });
	
	// Using custom configuration
  $("#img_01").elevateZoom({
    zoomWindowFadeIn : 500,
    zoomLensFadeIn: 500,
		gallery				: "gal1",
		imageCrossfade: true,
    zoomWindowWidth:411,
    zoomWindowHeight:274,
    zoomWindowOffetx: 10,
    scrollZoom: true, 
    cursor:"pointer"			
	});
  	
 
    $("#img_01").bind("click", function(e) {  
	 var ez =   $('#img_01').data('elevateZoom');	
	$.fancybox(ez.getGalleryList());
            return false;
    });
	$("#img_02").elevateZoom({
		gallery				: "gal2",
    tint: true,
    cursor:"crosshair",	
    windowHeight:600		
	});
    	      $("#img_03").elevateZoom({
    	  		zoomType				: "lens",
    	  		lensShape : "round",
            lensSize    : 200
    	  		});
  	  	
 
    $("#img_02").bind("click", function(e) {  
	 var ez =   $('#img_02').data('elevateZoom');	
	$.fancybox(ez.getGalleryList());
            return false;
    });    
    
    
     
    });
  </script>
