
<br />
<% content_for :title do %>
<%= @shop.airt_name %>商品詳細ページ
<% end %>
<br />
<div class="serach_navimain-show clearfix">
<div class="mainSect">
  
    <!-- /*写真エリア -->
    <div id="detailPhotoArea">
      <div class="dtlPhoto pc">
  <div class="photoZoom">
    <div class="zoomImg">
                               <% unless @shop.images.empty? %>
       <img style="" id="img_01" src="<%= @shop.images.first.image.url(:thumb) %>" data-zoom-image="<%= @shop.images.first.image.url %>"
       width="374" height= "306"  />
      <div id="gal1" style="width: 400px float:left; ">

        <% if @shop.images.size > 1 %>
        <% @shop.images.each do |image| %>
        <a href="#" class="elevatezoom-gallery" data-update="" data-image="<%= image.image.url(:thumb) %>" 
      data-zoom-image="<%= image.image.url %>">
          <img id="img_01" src="<%= image.image.url(:thumb) %>" width="60" height= "70" /></a>
                  <% end %>
                  <% end %>
      </div>
                  <% end %>
    </div>
    <br />
    <p><span class="icnLoupe">&emsp;&emsp;</span>マウスを合わせると画像を拡大できます</p>
  </div>
 </div>
</div>
    <!-- 写真エリア*/ -->

    <!-- /*テキストエリア -->
    <div id="detailTxtArea" itemscope itemtype="http://data-vocabulary.org/Product">
      <div class="dtlSumArea">
  <h1>
    <div class="dtlTit"><%= @shop.airt_name %></div>
    <div class="dtlSubTit"><%= @shop.live_tour_name %></div>
  </h1>

  <div class="dtlSpecBox">
    <div class="dtlSpecRack">
      <table class="dtlSpec01">
        <tr>
          <th>SIZE</th>
          <th>CONDITION</th>
        </tr>
        <tr>
          <td><span class="sizeNum"><%= @shop.day_date %></span></td>
          <td><span class="rankNum"><%= @shop.plase %></span></td>
        </tr>
      </table>
    </div>
    <div class="dtlSpecRack" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
      <meta itemprop="currency" content="JPY" />
      <table class="dtlSpec02">
        <tr>
          <th>PRICE</th>
        </tr>
        <tr>
          <td>
            <!--pricedown-->
                        <div><span class="priceNum"><span>￥</span><span class="priceAmount"><%= number_with_delimiter(@shop.price) %></span></span><span class="placeTax">（税込）</span>

            <div style="display:inline-block;"><span class="priceReclo">
                        締め切り時間 <%= @shop.close_datetime %>(残り<%= @shop.rest_time_code %>)</span></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
  </div>
  <br />

<h1><%= link_to '購入', users_path ,:class=>"button-buybuy-first",:style=>'color:#FFFFFF;' %></h1>
               <div class="contlike"><span id="favorite-mark"><%= render 'favorite_mark', shop: @shop %></span>
                 <span id="favorite-count"><%= render 'favorites/favorite_count', shop: @shop, favorites: @shop.favorites %></span></div>


<div class="dtlInfoArea">
    <h2>商品情報</h2>
  <div class="dtlInfoTable">
    <h3>サイズ</h3>
  <table>
      <tr>
        <th>長さ</th>
        <td><%= @shop.nsk_i18n %></td>
      </tr>
  </table>
  </div>
  <div class="dtlInfoTable">
    <h3>コンディション</h3>
    <table>
      <tr>
        <th>査定結果</th>
        <td class="condition">
          <div class="condition_label">
              <%= @shop.ticketing_state_i18n %><%= @shop.seat %>
          </div>
        </td>
      </tr>
      <tr>
        <th>詳細情報</th>
        <td><%= @shop.seat_in_detail %></td>
      </tr>
    </table>
    </div>
    <div class="dtlInfoTable">
    <h3>商品詳細</h3>
  <table>
      <tr>
        <th>素材</th>
        <td><%= @shop.ticket_name %>&emsp;&nbsp;<%= @shop.ticket_name_yes_no_i18n %></td>
      </tr>
      <tr>
        <th>カラー</th>
        <td><%= @shop.shipping_method_i18n %></td>
      </tr>
      <tr>
        <th>付属品</th>
        <td><%= @shop.docide_promptly_i18n %></td>
      </tr>
      <tr>
        <th>商品ID(番号)</th>
        <td><%= @shop.id %></td>
      </tr>
  </table>
  </div>
 <% if current_user %>
<div class="dtlInfoTable">
    <h3>質問・コメント内容</h3>
  <table>
  　　<tr>
        <th>注意事項</th>
        <td>相手の事を考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や、退会処分となる事があります。<br /><span style="color:red;">ログイン済みの場合のみ使用可能です。</span></td>
      </tr>
      <tr>
        <th>出品者への質問<br />コメントする</th>
        <td>
         <% if current_user %>
           <%= form_tag("/shops/#{@shop.id}/questions", method: :post) do %>
             <textarea cols="30" name="text" placeholder="コメントする" rows="2" class="textarea-question"></textarea>
        </td>
      </tr>
  
      <tr>
        <th>送信へ</th>
        <td><input type="submit" value="質問する" class="submit-button">
          <% end %>
          <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>コメント<br />一覧</th>
        <td>
         <% if current_user %>
             <% if @questions %>
              <% @questions.each do |question| %>
               <p><strong><%= question.user.nickname %>：</strong><%= question.text %></p>
               <time><%= time_ago_in_words question.created_at %></time>
               <% end %>
             <% end %>
         <% end %>
        </td>
      </tr>
  </table>
  </div>
  </div>
  </div>
    <!-- テキストエリア*/ -->

<div class="dtlInfoArea-user ">
    <h2>出品者情報</h2>
    <div class="dtlInfoTable-user">
    <h3>詳細</h3>
  <table>
  　　<tr>
        <th>締め切り時間</th>
        <td><%= @shop.close_datetime %>(残り<%= @shop.rest_time_code %>)</td>
      </tr>
      <tr>
        <th>名前(あだ名)</th>
        <td><%= @shop.user.nickname %></td>
      </tr>
      <tr>
        <th>地域</th>
        <td><%= @shop.user.big_address %><%= @shop.user.subaddress %></td>
      </tr>
      <tr>
        <th>ID(番号)</th>
        <td><%= @shop.user.id %></td>
      </tr>
  </table>
  </div>
  <div class="dtlInfoTable-user">
    <h3><strong><span style="color: #bc2414;">決済情報</span></strong></h3>
  <table>
  　　<tr>
        <th>取引手数料</th>
        <td>
              11,999円以下の場合は一律&nbsp;<span style="color:red;">600円</span><small>(税込)</small><br />
              12,000〜19,999円以下の場合は一律&nbsp;<span style="color:red;">800円</span><small>(税込)</small><br />
              20,000〜29,999円以上の場合は一律&nbsp;<span style="color:red;">1,000円</span><small>(税込)</small><br />
              30,000〜100,000円以上の場合は一律&nbsp;<span style="color:red;">3%</span><small>(税込)</small><br />
              100,001円以上の場合は一律&nbsp;<span style="color:red;">2.8%</span><small>(税込)</small>
        </td>
      </tr>
      <tr>
        <th>決済事務手数料</th>
        <td>一律&nbsp;<span style="color:red;">300円</span><small>(税込)</small></td>
      </tr>
      <tr>
        <th>請求内約</th>
        <td>チケット代金&emsp;&emsp;<small>+</small>&nbsp;<strong><%= number_with_delimiter(@getprice) %></strong><small>円</small><br />
              取引手数料&emsp;&emsp;&emsp;<small>+</small>&nbsp;<strong><%= number_with_delimiter( @otherprice.round) %></strong><small>円</small><br />
              決済事務手数料&emsp;<small>+</small>&nbsp;<strong><%= number_with_delimiter( @taxprice.round) %></strong><small>円</small><br />
              送料&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<small>+</small>&nbsp;<strong><%= @postageon %></strong><small>円</small>&emsp;&emsp;&emsp;<small><span style="color:red;">*小数点第1位四捨五入</span></small>
        </td>
      </tr>
      <tr>
        <th>お支払い代金総額</th>
        <td><strong><%= number_with_delimiter( @buyprice_sent.round) %>円</strong>&emsp;<small><span style="color:red;">&nbsp;＊お支払い代金総額に加算済</span></small></td>
      </tr>
  </table>
  </div>
  </div>

<br />

<br />
       <h1><%= link_to '購入', users_path ,:class=>"button-buybuy",:style=>'color:#FFFFFF;' %></h1>
  </div>
  </div>

<script type="text/javascript">
  $(document).ready(function () {
     $("#select").change(function(e){
   var currentValue = $("#select").val();
	// Using default configuration
 
 
 	 var ez =   $('#img_01').data('elevateZoom');	  
   
	ez.swaptheimage(smallImage, largeImage); 
     
    });
	
	// Using custom configuration
  $("#img_01").elevateZoom({
    zoomWindowFadeIn : 500,
    zoomLensFadeIn: 500,
		gallery				: "gal1",
		imageCrossfade: true,
    zoomWindowWidth:411,
    zoomWindowHeight:274,
    zoomWindowOffetx: 10,
    scrollZoom: true, 
    cursor:"pointer"			
	});
  	
 
    $("#img_01").bind("click", function(e) {  
	 var ez =   $('#img_01').data('elevateZoom');	
	$.fancybox(ez.getGalleryList());
            return false;
    });
	$("#img_02").elevateZoom({
		gallery				: "gal2",
    tint: true,
    cursor:"crosshair",	
    windowHeight:600		
	});
    	      $("#img_03").elevateZoom({
    	  		zoomType				: "lens",
    	  		lensShape : "round",
            lensSize    : 200
    	  		});
  	  	
 
    $("#img_02").bind("click", function(e) {  
	 var ez =   $('#img_02').data('elevateZoom');	
	$.fancybox(ez.getGalleryList());
            return false;
    });    
    
    
     
    });
  </script>
