<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="ブランド,腕時計,バッグ,お得な,オトクーナ,売買,仲介" />
  <title><%= content_for?(:title) ? yield(:title) : "ブランド品がお得な |オトクーナは誰でも簡単に売買できる" %> </title>
  <meta name=”author” content=”High&Lows合同会社”>
  <meta http-equiv=”content-language” content=”ja”>
  <meta property="og:title" content="ブランド品がお得な |オトクーナは誰でも簡単に売買できる" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.otoku-na.net" />
  <meta property="og:site_name" content="腕時計・ブランド品がお得な『オトクーナ』は国内最安値の手数料でブランド品の売買、仲介ができる。簡単な登録後、すぐに取引可能。もちろん登録料は一切掛かりません。シンプルな取引画面と使い易さを追求し誰でも簡単にブランド品を売る、買うができる。さらに、あんしん・安全取引システムを導入し、お客様の腕時計・ブランド品の取引を全力でサポートします。" />
  <link type="text/css" rel="stylesheet"
  href="https://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
<script type="text/javascript"
  src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
  src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "jquery.ui.datepicker-ja.js" %>
  <%= javascript_include_tag "autocomplete.js" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag ('favicon.ico') %>
  <meta name="google-site-verification" content="aOKgqDO-Qi4DG6_nVU8X79Sg1S2BPcnjYw1IeCzJagI" />
 <% if content_for?(:head) %>
    <%= yield :head %>
 <% else %>
    <meta name="description" content="腕時計・ブランド品がお得な『オトクーナ』は国内最安値の手数料でブランド品の売買、仲介ができる。簡単な登録後、すぐに取引可能。もちろん登録料は一切掛かりません。シンプルな取引画面と使い易さを追求し誰でも簡単にブランド品を売る、買うができる。さらに、あんしん・安全取引システムを導入し、お客様の腕時計・ブランド品の取引を全力でサポートします。">
 <% end %>
</head>
<body>
<br />
<div align="center">
  <noscript>
  <span style="color:red;"><重要></span><br />
    ※現在 JavaScriptが「無効」に設定されています。<br>
    オトクーナをご利用いただくには、JavaScriptの設定を「有効」に変更してください。
  </noscript>
</div>
</div>
 <div class="center clearfix">
  <header>

   <div class="header-box1 clearfix">
      <div class ="left-menu">
          <a><strong><%= link_to '　オトクーナ', root_path, class: "header-logo" %></strong></a>
          <h1 class="sublogo"><small><span style="color:orange;">ブランド品がお得な</span></small></h1>
      </div>

      <div class ="right-menu ">
         <div class="login-menu">
            <ul class="header-menu-right">
             <% if user_signed_in? %>
               <li>
                 <a href="/users/<%= current_user.id %>"><strong><span style="color:orange;">マイページ</span></strong></a>
               </li>
               <li>
                  <%= image_tag("login-out.png", :size => "16x16", :align=>"right") %>
                  <%= link_to "ログアウト", destroy_user_session_path, data: {confirm: '本当にログアウトしますか？'} %>
               </li>
               <li>
                  <%= image_tag("e_title_127.png", :size => "16x16", :align=>"right") %>
                  <%= link_to "出品する", new_shop_path, :target=>["_blank"] %>
               </li>
               <li>
                  <%= image_tag("wakaba.png", :size => "16x16", :align=>"right") %>
                  <%= link_to 'ご利用ガイド', about_path %>
               </li>
               <% else %>
               <li>
                   <%= link_to '新規会員登録(無料)', new_user_registration_path ,:class=>"loginclass" %>
               </li>
                <li>
                  <%= image_tag("e_title_114.png", :size => "16x16", :align=>"right") %>
                  <%= link_to "ログイン", user_session_path %>
                </li>
                 <li>
                  <%= image_tag("wakaba.png", :size => "16x16", :align=>"right") %>
                  <%= link_to 'ご利用ガイド', about_path %>
                </li>
                <li>
                  <%= image_tag("mail_16.png", :size => "16x16", :align=>"right") %>
                  <%= link_to "お問い合わせ", inquiry_path %>
                </li>
              <% end %>
            </ul>
         </div>
      </div>

    <div class="navbar">
<!-- ここから試験中 -->
<ul id="menu">
     <li><a href="#" class="drop">WOMEN<br />
     <small><small>定番のバッグ、財布・小物、アクセサリー等</small></small></a>
       <div class="dropdown_4columns"><!-- Begin 4 columns container -->

            <div class="col_4">
              <p>ルイ・ヴィトンやシャネルなどの人気ブランドをはじめとした、国内外のブランド品を多く取り揃え、流行やオシャレに敏感なあなたへ、売買可能な商品があります。また各、商品カテゴリーから検索することが可能です。</p>
            </div>

            <div class="col_1">

              <h3>財布・小物</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "財布", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "カードケース", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "キーケース", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "スカーフ・マフラー", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "サングラス", root_path %></li>
                </ul>
            </div>

            <div class="col_1">

              <h3>アクセサリー</h3>
                <ul>
                <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ネックレス", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ブレスレット", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "イヤリング・ピアス", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "指輪", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ヘアアクセサリー", root_path %></li>
                </ul>

            </div>

            <div class="col_1">

              <h3>腕時計</h3>
                <ul>
                <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "手巻き", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "自動巻き", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "クオーツ", root_path %></li>
                </ul>

            </div>


            <div class="col_1">

              <h3>バッグ</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ハンドバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ショルダーバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "トートバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ボディバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ボストンバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "イブニングバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "クラッチバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "バックパック", root_path %></li>
                </ul>
            </div>
            <div class="col_1">
              <h3>トップス</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "シャツ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ブラウス", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ニット", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "カットソー", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "カーディガン", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ワンピース", root_path %></li>
                </ul>

            </div>

            <div class="col_1">

              <h3>アウター</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li> <%= link_to "コート", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li> <%= link_to "ジャケット", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li> <%= link_to "ブルゾン", root_path %></li>
                </ul>

            </div>
            <div class="col_1">

              <h3>ボトムス・スーツ</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "パンツ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "スカート", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "スーツ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "スカートスーツ", root_path %></li>
                </ul>

            </div>
            <div class="col_1">

              <h3>シューズ</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ブーツ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "スニーカー", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "サンダル", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "パンプス", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ミュール", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "フラットシューズ", root_path %></li>
                </ul>

            </div>
        </div><!-- End 4 columns container -->

    </li><!-- End 4 columns Item -->


    <li><a href="#" class="drop">MEN<br />
      <small><small>ビジネスバッグ、財布、腕時計など</small></small></a><!-- Begin 5 columns Item -->

       <div class="dropdown_4columns"><!-- Begin 4 columns container -->

            <div class="col_4">
              <p> ビジネスバッグをはじめ、名刺入れ、キーケース、腕時計などの商品の売買が可能です。 また多くの有名ブランドを各、カテゴリーから検索することができます。プレミアムな品が見つかるはずです...</p>
            </div>
            <div class="col_1">

              <h3>財布・小物</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "財布", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "カードケース", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "キーケース", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "スカーフ・マフラー", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ネクタイ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "サングラス", root_path %></li>
                </ul>
            </div>
            <div class="col_1">
              <h3>アクセサリー</h3>
                <ul>
                <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ネックレス", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ブレスレット", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ピアス", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "指輪", root_path %></li>
                </ul>
            </div>
            <div class="col_1">
              <h3>腕時計</h3>
                <ul>
                <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "手巻き", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "自動巻き", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "クオーツ", root_path %></li>
                </ul>
              </div>

              <div class="col_1">
               <h3>バッグ</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ショルダーバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "トートバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ボディバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ボストンバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "クラッチバッグ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "バックパック", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ビジネスバッグ", root_path %></li>
                </ul>
              </div>

              <div class="col_1">
              <h3>トップス</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "シャツ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ニット", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "カットソー", root_path %></li>
                </ul>

            </div>


            <div class="col_1">
            <h3>アウター</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li> <%= link_to "コート", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li> <%= link_to "ジャケット", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li> <%= link_to "ブルゾン", root_path %></li>
                </ul>
            </div>

            <div class="col_1">
            <h3>ボトムス・スーツ</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "パンツ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "スーツ", root_path %></li>
                </ul>
            </div>

            <div class="col_1">

              <h3>シューズ</h3>
                <ul>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ブーツ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "スニーカー", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "サンダル", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "ドレスシューズ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "カジュアルシューズ", root_path %></li>
                 <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                 <li><%= link_to "スリッポン", root_path %></li>
                </ul>
            </div>
        </div><!-- End 4 columns container -->

    </li><!-- End 4 columns Item -->

    <li><a href="#" class="drop">BRANDS<br />
      <small><small>取り扱いブランドを見る</small></small></a><!-- Begin 4 columns Item -->

        <div class="dropdown_4columns_center"><!-- Begin 4 columns container -->

            <div class="col_4">
                <P>定番のルイヴィトンやシャネル,
                HERMESなどの商品はもちろんのこと、DOLCE&GABBANAやDAMIANIなどのイタリアブランドも取り揃え、オトクーナに取り扱えないブランドはございません!!</p>
            </div>

            <div class="col_1">

              <h3>定番BRANDS</h3>
                <ul>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>CHANEL</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>LOUIS VUITTON</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>HERMES</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>PRADA</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>GUCCI</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>CELINE</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>miu miu</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>FENDI</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>DOLCE&GABBANA</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>Christian Louboutin</li>
                </ul>
            </div>

            <div class="col_1">
              <h3>LUXURY BRAND</h3>
                <ul>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>BOTTEGA VENETA</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li><small>SAINT LAURENT PARIS</small></li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>BALENCIAGA</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>EMILIO PUCCI</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>LOEWE</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>Christian Dior</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>Sergio Rossi</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>MOSCHINO</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>Chloe</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>Salvatore Ferragamo</li>
                </ul>

            </div>

            <div class="col_1">

              <h3>CONTEMPORARY</h3>
                <ul>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>kate spade</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>COACH</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>BCBG MAXAZRIA</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>FOXEY</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>Stella McCartney</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>3.1 Phillip Lim</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>CARVEN</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>BVLGARI</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>N°21</li>
                </ul>

            </div>
            <div class="col_1">

              <h3>JEWELRY/WATCH</h3>
                <ul>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>ROLEX</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>HUBLOT</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>OMEGA</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>FRANCK MULLER</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>Harry Winston</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li><small>Van Cleef & Arpels</small></li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>TIFFANY & Co.</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>Cartier</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>DAMIANI</li>
                    <%= image_tag("e_title_120.png", :size => "8x8", :align=>"left", :class=>"mini-icon") %>
                    <li>GaGa MILANO</li>
                </ul>
            </div>
        </div><!-- End 4 columns container -->

    </li><!-- End 4 columns Item -->

    <li class="menu_right"><a href="#" class="drop">鑑定依頼&emsp;<small><small>健全なサイトを目指して..</small></small><br />
      <small><small>鑑定書取得はこちらから</small></small></a>
                <div class="dropdown_4columns_sport"><!-- Begin 4 columns container -->

            <div class="col_4">
                <p>
                <a href="http://jbiaa.org/" target="_blank">日本ブランド品鑑定協会へ</a>
                健全でクリーンな腕時計・ブランド品専門の2次流通市場を作る...サイト運営者として、本物だけを取り扱いたいと、切なる思いで初めてます。<br />
                高額なブランド品をいつでも買取、現金化してくれるのが質屋さん。<br />
                でも店頭で再販売される価格15,000円の商品は...実は4,500円前後で買取された商品です。<br />
                また最近流行りの買取兼委託販売の会社では質屋さんほど低くないものの、委託された商品の販売価格15,000円は50%を手数料で取られてしまいます。<br />
                すぐに現金化できて便利ではあるが、『疑問』と『不満』を抱いてました。<br />
                話が変わり
                近年流行りののC2C市場(個人間取引)の成長は目まぐるしいですが、私自身、やはり高額なブランド品の購入には気が引けました。理由は簡単です。<br />購入した商品が、『本物』か『偽物』か区別がつかないからです。<br />
                その為、オトクーナでは、購入者側の立場を考えクリーンな市場を目指すために15,000円を超える商品には全て鑑定書や鑑別書、購入先(販売元)のレシートなどの正規品と判断できる書類を購入者に送付することを義務ずけてます。これからオトクーナで販売(出品)を行うお客様にはどうかご理解のほど宜しくお願いします。<br />
                下記のリンク先から鑑定を格安で行えます。*弊社とは無関係です<br />
                <a href="http://jbiaa.org/" target="_blank">日本ブランド品鑑定協会に商品鑑定を依頼する</a>
                購入者は安心して安く購入し、販売者はより多く現金化できる...<br />
                そんな当たり前のサイト..腕時計・ブランド品がお得な『オトクーナ』を今後とも宜しくお願いします。
                </p>
            </div>
        </div><!-- End 4 columns container -->

    </li>


</ul>



<!-- 試験終了 -->
    </div>
  </div>
 </header>
</div>
<div class="header-under-box clearfix">
     <div class="seach_navi">

       <%= search_form_for @ransack do |f| %>
       <%= f.text_field :airt_name_cont , class: "text" ,id: "listname" ,placeholder: '   お探しのブランド名を入力してください...' ,autocomplete: "off" %>
     <div class="submit-box">
       <%= f.submit ("検索"),:class => "submit-button-search" ,:target=>["_blank"] %>
     </div>
           <div id="suggest" style="display:none;"></div>
       <% end %>
     </div>
     <div class="seach_navi_right">
     <br /><br />
       <P>
       『オトクーナ』はハイブランド専門の個人間取引のサービスです。
簡単に出品、お得に購入できる中古ブランド市場です。<br />
中古ブランド品の購入も出品も是非オトクーナで体験してみてください。</P>

     </div>
</div>
<br />
<div class="serach_navimain clearfix">

<%= yield %>
</div>

<footer>
<Hr Size="1">
 <div claas="footer-content clearfix">
 <div class="footer-content-menu clearfix">
  <div class="footer-left">
    <ul>
      <li>
        <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><strong><span style="color:white;">オトクーナからのお知らせ&emsp;&emsp;</span></h4>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %><strong><span style="color:white;">&nbsp;2017/1/11<br />&emsp;検索機能の修正完了</span>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %><strong><span style="color:white;">&nbsp;2016/12/11<br />&emsp;『オトクーナ』のレイアウト変更</span>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %><strong><span style="color:white;">&nbsp;2016/12/5<br />&emsp;画面縮小による不具合の修正完了</span>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %><strong><span style="color:white;">&nbsp;2016/11/15<br />&emsp;不具合のお詫びとお知らせ</span>
      </li>
    </ul>
  </div>
  <div class="footer-center">
    <ul>
      <li>
        <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">人気ブランド&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span></h4>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "Hey! Say! JUMP", root_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to " AKB48", root_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to " 倖田 來未", root_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to " Tokyo 7th シスターズ", root_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to " 東京ディズニーランド", root_path %>
      </li>
      <li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "サンドウィッチマン", root_path %>
      </li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to " エリザベート", root_path %>
      </li>
       <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "FIFAロシアWorld Cup", root_path %>
       </li>
    </ul>
  </div>
  <div class="footer-right">
          <ul>
          <li>
           <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">会員登録/ユーザー情報&emsp;&emsp;&emsp;&emsp;</span></h4>
         </li>
            <% if user_signed_in? %>
               <li>
                 <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                 <a href="/users/<%= current_user.id %>"><strong><span style="color:orange;">マイページ</span></strong></a>
               </li>
               <li>
                  <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                  <%= link_to "ログアウト", destroy_user_session_path, data: {confirm: "本当にログアウトしますか？"} %>
               </li>
               <li>
                  <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                  <%= link_to "出品する", new_shop_path, :target=>["_blank"] %>
               </li>
               <li>
                  <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                  <%= link_to "TOPへ", root_path %>
                </li>
               <% else %>
               <li>
                   <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                   <%= link_to '新規会員登録(無料)', new_user_registration_path ,:class=>"loginclass" %>
               </li>
                <li>
                  <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                  <%= link_to "ログイン", user_session_path %>
                </li>
                <li>
                  <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                  <%= link_to "TOPへ", root_path %>
                </li>
            <% end %>
                <li>
                 <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">その他運営サイト&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span></h4>
                </li>
                <li>
                 <%= image_tag("e_title_shops2.png", :size => "10x10", :align=>"center") %>
                 <a href="http://high-lows.wixsite.com/mysite" target="_blank">定期購入型コスメサンプル『コスプル』</a>
                </li>
          </ul>
  </div>
</div>

<div class="footer-content-menu-under clearfix">
  <div class="footer-left-under">
    <ul>
      <li>
        <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">サイト情報</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h4>
         </li>
      <li>
      <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
      <a href="https://www.highlows.co" target="_blank">運営会社</a>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
      <a href="http://www.highlows.co/recruit" target="_blank">採用情報</a>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
        <%= link_to '利用規約', home_kiyaku_path %>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
        <%= link_to 'プライバシーポリシー' , home_puraibashi_path %>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
        <%= link_to '特定商取引法に基づく表示', home_torihikihou_path %>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
        <a href="https://goo.gl/forms/3vrmi9AVnOxDZJZG3" target="_blank">企画運営に役立てる為のアンケート</a>
      </li>
    </ul>
  </div>
  <div class="footer-center-under">
    <ul>
      <li>
        <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">ご利用ガイド</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h4>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "ご利用ガイド", about_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "手数料", home_kakaku_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "あんしん・安全決済", home_esukuro_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "お支払い方法", home_payment_path %>
      </li>
    </ul>
  </div>
  <div class="footer-right-under">
    <ul>
      <li>
        <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">お問い合わせ</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h4>
      </li>
      <li>
      <%= image_tag("e_mail.png", :size => "18x18", :align=>"center") %>
      <strong><%= link_to "お問い合わせ(Email 24時間受付)", inquiry_path  %></strong>
      </li>
      <li>
        <small><span style="color:#EEEEEE;">新しく掲載を希望するブランド名・商品名などをご連絡ください。
        内容を確認の上、弊社の担当者が掲載判断させて頂きます。<br />
        またその他の質問、要望などを含め、通常は24時間以内に反映、ご返信をさせて頂きます。</span></small>
      </li>
    </ul>
  </div>
  </div>


  </div>

  <div class="footer-bottom clearfix">
  <small>
   <i><p>&emsp;個人間での腕時計・ブランド品専門の売買サイトです。転売目的での商品の購入、販売は固くお断りさせて頂きます。<br />
   &emsp;『オトクーナ』ではブランド品の売買、仲介のあんしん・安全取引が可能です。<br />
   &emsp;<%= image_tag("highlows.png", :size => "100x70", :align=>"center") %>©2011-2017&nbsp;&nbsp;<a href="http://www.highlows.co" target="_blank"><span style="color:black;">High&nbsp;＆&nbsp;Lows&nbsp;,Inc.</span></a>&nbsp;&nbsp;&nbsp;All Rights&nbsp;Reserved.&emsp;複製及び無断転載禁止</p></i></small>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87093032-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
