<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="ブランド,腕時計,バッグ,お得な,オトクーナ,売買,仲介" />
  <title><%= content_for?(:title) ? yield(:title) : "ブランド品がお得な |オトクーナは誰でも簡単に売買できる" %> </title>
  <meta name=”author” content=”High&Lows合同会社”>
  <meta http-equiv=”content-language” content=”ja”>
  <meta property="og:title" content="ブランド品がお得な |オトクーナは誰でも簡単に売買できる" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.otoku-na.net" />
  <meta property="og:site_name" content="腕時計・ブランド品がお得な『オトクーナ』は国内最安値の手数料でブランド品の売買、仲介ができる。簡単な登録後、すぐに取引可能。もちろん登録料は一切掛かりません。シンプルな取引画面と使い易さを追求し誰でも簡単にブランド品を売る、買うができる。さらに、あんしん・安全取引システムを導入し、お客様の腕時計・ブランド品の取引を全力でサポートします。" />
  <!--link type="text/css" rel="stylesheet"
  href="https://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" /-->
<!--script type="text/javascript"
  src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js">
</script-->
<!--
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"-->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application" , 'data-turbolinks-track' => false%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag ('favicon.ico') %>
  <meta name="google-site-verification" content="aOKgqDO-Qi4DG6_nVU8X79Sg1S2BPcnjYw1IeCzJagI" />
 <% if content_for?(:head) %>
    <%= yield :head %>
 <% else %>
    <meta name="description" content="腕時計・ブランド品がお得な『オトクーナ』は国内最安値の手数料でブランド品の売買、仲介ができる。簡単な登録後、すぐに取引可能。もちろん登録料は一切掛かりません。シンプルな取引画面と使い易さを追求し誰でも簡単にブランド品を売る、買うができる。さらに、あんしん・安全取引システムを導入し、お客様の腕時計・ブランド品の取引を全力でサポートします。">
 <% end %>
</head>
<body>
<div data-no-turbolink>
<br />
<div align="center">
  <noscript>
  <span style="color:red;"><重要></span><br />
    ※現在 JavaScriptが「無効」に設定されています。<br>
    オトクーナをご利用いただくには、JavaScriptの設定を「有効」に変更してください。
  </noscript>
</div>
 <div class="center clearfix">
  <header>
   <div class="header-box1 clearfix">
     <%= render partial: "left_menu" %>
   </div>
  </header>
</div>
<div class="header-under-box clearfix">
   <div class="seach_navi">

       <%= search_form_for @ransack do |f| %>
       <%= f.text_field :airt_name_cont , class: "text" ,id: "listname" ,placeholder: '   お探しのブランド名を入力してください...' ,autocomplete: "off" %>
     <div class="submit-box">
       <%= f.submit ("検索"),:class => "submit-button-search" ,:target=>["_blank"] %>
     </div>
        <div id="suggest" style="display:none;"></div>
       <% end %>
     </div>
     <div class="seach_navi_right">
     <br /><br />
       <P>
       『オトクーナ』はハイブランド専門の個人間取引のサービスです。
簡単に出品、お得に購入できる中古ブランド市場です。<br />
中古ブランド品の購入も出品も是非オトクーナで体験してみてください。</P>

     </div>
</div>
<br />
<div class="serach_navimain clearfix">

<%= yield %>
</div>

<footer>
<Hr Size="1">
 <div claas="footer-content clearfix">
 <div class="footer-content-menu clearfix">
  <div class="footer-left">
    <ul>
      <li>
        <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><strong><span style="color:white;">オトクーナからのお知らせ&emsp;&emsp;</span></h4>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %><strong><span style="color:white;">&nbsp;2017/1/11<br />&emsp;検索機能の修正完了</span>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %><strong><span style="color:white;">&nbsp;2016/12/11<br />&emsp;『オトクーナ』のレイアウト変更</span>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %><strong><span style="color:white;">&nbsp;2016/12/5<br />&emsp;画面縮小による不具合の修正完了</span>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %><strong><span style="color:white;">&nbsp;2016/11/15<br />&emsp;不具合のお詫びとお知らせ</span>
      </li>
    </ul>
  </div>
  <div class="footer-center">
    <ul>
      <li>
        <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">人気ブランド&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span></h4>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "CHANEL", root_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "LOUIS VUITTON", root_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "HERMES", root_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "PRADA", root_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "GUCCI", root_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "CELINE", root_path %>
      </li>
      <li>
        <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
        <%= link_to "miu miu", root_path %>
      </li>
       <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "Christian Louboutin", root_path %>
       </li>
    </ul>
  </div>
  <div class="footer-right">
          <ul>
          <li>
           <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">会員登録/ユーザー情報&emsp;&emsp;&emsp;&emsp;</span></h4>
         </li>
            <% if user_signed_in? %>
               <li>
                 <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                 <a href="/users/<%= current_user.id %>"><strong><span style="color:orange;">マイページ</span></strong></a>
               </li>
               <li>
                  <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                  <%= link_to "ログアウト", destroy_user_session_path, data: {confirm: "本当にログアウトしますか？"} %>
               </li>
               <li>
                  <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                  <%= link_to "出品する", new_shop_path, :target=>["_blank"] %>
               </li>
               <li>
                  <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                  <%= link_to "TOPへ", root_path %>
                </li>
               <% else %>
               <li>
                   <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                   <%= link_to '新規会員登録(無料)', new_user_registration_path ,:class=>"loginclass" %>
               </li>
                <li>
                  <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                  <%= link_to "ログイン", user_session_path %>
                </li>
                <li>
                  <%= image_tag("e_title_122.png", :size => "10x10", :align=>"center") %>
                  <%= link_to "TOPへ", root_path %>
                </li>
            <% end %>
                <li>
                 <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">その他運営サイト&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span></h4>
                </li>
                <li>
                 <%= image_tag("e_title_shops2.png", :size => "10x10", :align=>"center") %>
                 <a href="http://high-lows.wixsite.com/mysite" target="_blank">定期購入型コスメサンプル『コスプル』</a>
                </li>
          </ul>
  </div>
</div>

<div class="footer-content-menu-under clearfix">
  <div class="footer-left-under">
    <ul>
      <li>
        <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">サイト情報</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h4>
         </li>
      <li>
      <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
      <a href="https://www.highlows.co" target="_blank">運営会社</a>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
      <a href="http://www.highlows.co/recruit" target="_blank">採用情報</a>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
        <%= link_to '利用規約', home_kiyaku_path %>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
        <%= link_to 'プライバシーポリシー' , home_puraibashi_path %>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
        <%= link_to '特定商取引法に基づく表示', home_torihikihou_path %>
      </li>
      <li>
        <%= image_tag("e_title_123.png", :size => "10x10", :align=>"center") %>
        <a href="https://goo.gl/forms/3vrmi9AVnOxDZJZG3" target="_blank">企画運営に役立てる為のアンケート</a>
      </li>
    </ul>
  </div>
  <div class="footer-center-under">
    <ul>
      <li>
        <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">ご利用ガイド</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h4>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "ご利用ガイド", about_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "手数料", home_kakaku_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "あんしん・安全決済", home_esukuro_path %>
      </li>
      <li>
         <%= image_tag("e_title_120.png", :size => "10x10", :align=>"center") %>
         <%= link_to "お支払い方法", home_payment_path %>
      </li>
    </ul>
  </div>
  <div class="footer-right-under">
    <ul>
      <li>
        <h4 class="sample2"><%= image_tag("e_title_150.png", :size => "18x18", :align=>"center") %><span style="color:white;">お問い合わせ</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h4>
      </li>
      <li>
      <%= image_tag("e_mail.png", :size => "18x18", :align=>"center") %>
      <strong><%= link_to "お問い合わせ(Email 24時間受付)", inquiry_path  %></strong>
      </li>
      <li>
        <small><span style="color:#EEEEEE;">新しく掲載を希望するブランド名・商品名などをご連絡ください。
        内容を確認の上、弊社の担当者が掲載判断させて頂きます。<br />
        またその他の質問、要望などを含め、通常は24時間以内に反映、ご返信をさせて頂きます。</span></small>
      </li>
    </ul>
  </div>
  </div>


  </div>

  <div class="footer-bottom clearfix">
  <small>
   <i><p>&emsp;個人間での腕時計・ブランド品専門の売買サイトです。転売目的での商品の購入、販売は固くお断りさせて頂きます。<br />
   &emsp;『オトクーナ』ではブランド品の売買、仲介のあんしん・安全取引が可能です。<br />
   &emsp;<%= image_tag("highlows.png", :size => "100x70", :align=>"center") %>©2011-2017&nbsp;&nbsp;<a href="http://www.highlows.co" target="_blank"><span style="color:black;">High&nbsp;＆&nbsp;Lows&nbsp;,Inc.</span></a>&nbsp;&nbsp;&nbsp;All Rights&nbsp;Reserved.&emsp;複製及び無断転載禁止</p></i></small>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87093032-1', 'auto');
  ga('send', 'pageview');

</script>

</div>
</body>
</html>
